body{
    background-color:black;
}

header{
  height: 144px;

}

div{
  height:5px;
  width:744px;
  background-color: white;
  margin: 0px, 0px, 48px ,48px;
}

h1, p{
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  letter-spacing: -1px;
  font-weight: bold;
}

h1{
  font-size: 144px;
  vertical-align: text-top;
}

p{
  font-size: 72px;
  line-height: 84px;
  vertical-align: text-top;
  
}