body{
  width: 100%; 
  margin: 0 auto;
  background-color:black;
}

#header{
  position: fixed;
  background-color:black;
  height: 13%;
  width: 100%;
  padding %2;
  z-index: 3;
  margin-top: -3%;
}

h1, #nav{
  position: fixed;
  font-family: 'Archivo Narrow', sans-serif;
  text-transform: uppercase;
  color: #eeeeee;
  background-color: black;
  height: 4%;
  width: 42%;
  vertical-align: bottom; 
}

h1{
  font-size: 2em;
  margin-left: 3%;
  margin-top: 3%;
  font-style: bold;
}

#nav{
  text-align: right;
  letter-spacing: 0.2em;
  word-spacing: 1.5em;
  font-size: 0.8em;
  font-style: regular;
  margin-left: 52%;
  margin-right: 3%;
  margin-top: 4%;
}

#nav li{
  display: inline;
}

#content{
  overflow:auto;
}

.bio, .movies{
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 33%;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.bio{
  width: 40%;
  background-color: #eeeeee;

}

.movies{
  background-color: #d6d6d6;
  width: 35%;
  padding: 1%;
}

p{
  line-height: 2em;
}

h2{
  margin-left: 14%; 
  font-size: 1.3em;
  text-align: left;
}

li{
  list-style-type: none;
  line-height: 1.5em;
  text-align: left;

}

#footer{
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-left: 3%;
  font-size: 0.6em;
}

#photo{
  text-align: center;
  margin-top:13%;
}

#photo2{
  text-align: center;
  margin-top: -38%;
}

.bullet {
  z-index: 2;
	animation-name: spin;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear
/*	animation-fill-mode: both;*/
}

@keyframes spin { 
        from { transform: rotate(360deg);} 
        to {transform: rotate(0deg);} 
        }